html{
    text-align: center;
    background: pink;
    /* height: 100%;
    width: 100%; */
}

ul {
    margin: 0;
    padding: 0;
    border: 1px solid #bbb;
    background-color: #dddddd;
    display: inline-flex;
}

li{
    list-style-type: none;
    border-left: 1px solid #bbb;
}

li:first-child{
    border-left: none;
}

a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li a.nav:hover:not(.active) {
    background-color: #333;
    color: white;
}

.active {
    background-color: #111;
    color: white;
}

form{
    padding: 20px 10px 5px 15px;
}

.alphabet{
    display:inline-flex;
}

.alphabet a{
    border-right: 1px solid black;
}

.alphabet a:hover{
    background-color: #ADEFD1FF;
    color:#00203FFF;
}

h4 ~ div li a:hover{
    background-color: teal;
    color: coral;
}

form ~ div h4 ~ div li a:hover{
    background-color: purple;
    color: yellow;
}

.alphabet a:last-child{
    border-right: none;
}

h4 ~ div li {
    border: none;
    list-style: disc;
    display: inline-block;

}


.box{
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
}

.box li{
    text-align: left;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    border: none;
    background: none;
    padding: 15px 20px 18px 18px;
    border-radius: none;
    box-shadow: none;
}

#ingredients{
    text-align: left;
}


h2{
    font-size: 24pt;
}

h3{
    margin: 20px;
}

h4{
    letter-spacing: 0mm;
}